<h1 class="h3 u-mb-50" *ngIf="profile.company">{{profile.company.generalInfo.companyName}} <span class="thin">&ndash; osobní účet</span></h1>
<jobchin-student-header *ngIf="profile.student"></jobchin-student-header>

<div class="grid grid--xl">
    <div class="grid__cell size--l--3-12 size--m--4-12">
        <member-menu>
            <ng-container *ngIf="profile.company">
                <side-menu-item
                    [routerLink]="getCompanyRoute(jobchinRoutes.companyType)"
                    title="Typ účtu"
                ></side-menu-item>
                <side-menu-item
                    [routerLink]="getCompanyRoute(jobchinRoutes.generalInfo)"
                    title="Základní informace"
                ></side-menu-item>
                <side-menu-item
                    [routerLink]="getCompanyRoute(jobchinRoutes.contactPerson)"
                    title="Kontaktní osoba"
                ></side-menu-item>
                <side-menu-item
                    [routerLink]="getCompanyRoute(jobchinRoutes.presentation)"
                    title="Prezentace"
                ></side-menu-item>
                <side-menu-item
                    [routerLink]="getCompanyRoute(jobchinRoutes.candidates)"
                    title="Uchazeči"
                ></side-menu-item>
            </ng-container>
        </member-menu>
    </div>

    <div class="grid__cell size--l--9-12 size--m--8-12">
        <router-outlet></router-outlet>
    </div>
</div>
