<muniweb-fieldset>
    <h3>Informace o společnosti</h3>
    
    <muniweb-loading [loading]="loadingInfo">
        <muniweb-form *ngIf="!infoError"
                      #form
                      [config]="formConfig"
                      [formGroup]="form.form"
                      [submitAttempt]="form.formSubmitAttempt"
        >
            <ng-container body>
                <muniweb-form-field id="ico"
                                    label="IČO"
                                    required="true"
                                    controlName="ico"
                                    [ngClass]="{ 'success': icoLoaded(), 'error': icoError() }">
                    <input formControlName="ico"
                        maxlength="8"
                        class="inp-text">
        
                    <ng-container [ngSwitch]="icoState">
                        <span class="inp-info" *ngSwitchCase="IcoStates.Loading">
                            <span class="icon  question-circle"></span>
                            Stahuji data z ARES
                        </span>
                        <span class="inp-info" *ngSwitchCase="IcoStates.Success">
                            <span class="icon icon-check"></span>
                            Data úspěšně stažena
                        </span>
            
                        <span class="inp-info" *ngSwitchCase="IcoStates.NotFound">
                            <span class="icon icon-exclamation-triangle"></span>
                            IČO nenalezeno
                        </span>
                        
                        <span class="inp-info" *ngSwitchCase="IcoStates.WrongFormat">
                            <span class="icon icon-exclamation-triangle"></span>
                            Neplatný formát
                        </span>

                        <span class="inp-info" *ngSwitchCase="IcoStates.Conflict">
                            <span class="icon icon-exclamation-triangle"></span>
                            IČO již existuje
                        </span>
                        
                        <span class="inp-info" *ngSwitchCase="IcoStates.Error">
                            <span class="icon icon-exclamation-triangle"></span>
                            Nastala chyba na straně serveru
                        </span>
                    </ng-container>                   
        
                </muniweb-form-field>
        
                <ng-container *ngIf="icoLoaded() || standAlone">
                
                    <div class="grid grid--middle">
                        <div class="grid__cell size--l--6-12" *ngIf="showDic()">
                            <muniweb-form-field id="dic"
                                                label="DIČ"
                                                required="true"
                                                controlName="dic">
                                <input formControlName="dic"
                                    class="inp-text"
                                    [maxLength]="jobchinSettings.dicMaxLength">
                            </muniweb-form-field>
                        </div>
                
                        <div class="grid__cell size--l--6-12" [ngClass]="{ 'u-mb-30': !showDic() }" >
                            <label class="inp-item inp-item--checkbox">
                                <input type="checkbox"
                                    formControlName="hasNoDic">
                                <span>
                                    Nemáme DIČ
                                </span>
                            </label>
                        </div>
                    </div>
                
                    <muniweb-form-field id="companyName"
                                        label="Název společnosti"
                                        required="true"
                                        controlName="companyName">
                        <input formControlName="companyName"
                            class="inp-text"
                            [maxLength]="jobchinSettings.nameMaxLength">
                    </muniweb-form-field>
                
                    <muniweb-form-field id="street"
                                        label="Ulice a č. p."
                                        required="true"
                                        controlName="street">
                        <input formControlName="street"
                            class="inp-text"
                            [maxLength]="jobchinSettings.streetMaxLength">
                    </muniweb-form-field>
                    
                    <div class="grid">
                        <div class="grid__cell size--l--6-12">
                            <muniweb-form-field id="city"
                                                label="Město"
                                                required="true"
                                                controlName="city">
                                <input formControlName="city"
                                        class="inp-text"
                                        [maxLength]="jobchinSettings.cityMaxLength">
                            </muniweb-form-field>
                        </div>
                
                        <div class="grid__cell size--l--6-12">
                            <muniweb-form-field id="zipCode"
                                                label="PSČ"
                                                required="true"
                                                controlName="zipCode">
                                <input formControlName="zipCode"
                                        class="inp-text"
                                        [maxLength]="jobchinSettings.zipCodeMaxLength">
                            </muniweb-form-field>
                        </div>
                    </div>
        
                    <jobchin-coutry-picker controlName="countryId"></jobchin-coutry-picker>      
                    
                    <p>
                        <label class="inp-item inp-item--checkbox">
                            <input type="checkbox"
                                    formControlName="hasCor">
                            <span>
                                Chci uvést jinou  korespondenční adresu
                            </span>
                        </label>
                    </p>
                    <ng-container *ngIf="hasCor()">
                        <muniweb-form-field id="corStreet"
                                            label="Ulice a č. p."
                                            required="true"
                                            controlName="corStreet">
                            <input formControlName="corStreet"
                                    class="inp-text"
                                    [maxLength]="jobchinSettings.streetMaxLength">
                        </muniweb-form-field>
                        
                        <div class="grid">
                            <div class="grid__cell size--l--6-12">
                                <muniweb-form-field id="corCity"
                                                    label="Město"
                                                    required="true"
                                                    controlName="corCity">
                                    <input formControlName="corCity"
                                        class="inp-text"
                                        [maxLength]="jobchinSettings.cityMaxLength">
                                </muniweb-form-field>
                            </div>
                    
                            <div class="grid__cell size--l--6-12">
                                <muniweb-form-field id="corZipCode"
                                                    label="PSČ"
                                                    required="true"
                                                    controlName="corZipCode">
                                    <input formControlName="corZipCode"
                                        class="inp-text"
                                        [maxLength]="jobchinSettings.zipCodeMaxLength">
                                </muniweb-form-field>
                            </div>
                        </div>
        
                        <jobchin-coutry-picker controlName="corCountryId"></jobchin-coutry-picker>
                        
                    </ng-container>
        
                    <muniweb-form-field
                        label="Zařaďte Vaši společnost do sektoru:"
                        id="sector"
                        type="radio"
                        controlName="sector"
                    >
                        <div class="inp-items">
                            <ul class="inp-items__list">
                                <li class="inp-items__item" *ngFor="let item of companyTypes">
                                    <label class="inp-item inp-item--radio">
                                        <input type="radio" formControlName="sector" [value]="item">
                                        <span>{{ getCompanyTypeName(item) }}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </muniweb-form-field> 
        
                    <muniweb-form-field label="Jaký máte počet zaměstnanců v ČR?"
                                        id="workerCountRangeId"
                                        type="radio"
                                        controlName="workerCountRangeId"
                    >
                        <div class="inp-items">
                            <ul class="inp-items__list">
                                <li class="inp-items__item" *ngFor="let item of config.workerCountRanges">
                                    <label class="inp-item inp-item--radio">
                                        <input type="radio" 
                                            formControlName="workerCountRangeId"
                                            [value]="item.workerCountRangeId">
                                        <span>{{ item.name }}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </muniweb-form-field>
                    
                    <muniweb-form-field *ngIf="!standAlone"
                                        id="agreement"
                                        controlName="agreement"
                    >
                        <label class="inp-item inp-item--checkbox">
                            <input
                                type="checkbox"
                                formControlName="agreement"
                                id="agreement_input"                     
                            >
                            <span>Souhlasím s <a [href]="getGdprLink()" target="_blank">Obecnými podmínkami užívání portálu JobCheckIN.</a></span>
                        </label>
                    </muniweb-form-field>

                </ng-container>
            </ng-container>
        
            <jobchin-formFooter footer
                                [formConfig]="formConfig">
            </jobchin-formFooter>
        </muniweb-form>

        <jobchin-error *ngIf="infoError"></jobchin-error>
    </muniweb-loading>
</muniweb-fieldset>
