.socialMediaPlaceholder {
    position: absolute; 
    display: block; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 10px; 
    color: gray;
}

.socialMedia-linkedin {
    padding-left: 177px;
}

.socialMedia-facebook {
    padding-left: 170px;
}

.socialMedia-twitter {
    padding-left: 144px;
}